.main-container {
    background-color: #B8BEDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #7B1546;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 45%;
    height: 40rem;
}

.image {
    border-radius: 1.5rem;
}